* {
    display: block;
}

biblioteca {
    background-color: lightblue;
}

biblioteca::before {
    content: "Mis libros";
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
}

libro {
    width: 200px;
    background-color: lightcoral;
    border-bottom: 5px solid coral;
    margin-left: 5px;
    margin-top: 5px;
}

titulo::before {

    content: "Titulo: ";
    font-size: 1.1rem;
    font-weight: bold;

}

autor::before {

    content: "Autor: ";
    font-size: 1.1rem;
    font-weight: bold;

}

paginas::before {

    content: "Paginas: ";
    font-size: 1.1rem;
    font-weight: bold;

}